# === StayService ===
STAY_SERVICE_DB=
STAY_SERVICE_DB_USER=
STAY_SERVICE_DB_PASSWORD=
STAY_SERVICE_DB_PORT=
NETWORK_NAME=
POSTGRES_IMAGE=
# ======================================= #

# === BookingService ===
BOOKING_SERVICE_PORT=
BOOKING_SERVICE_DB=
BOOKING_SERVICE_DB_USER=
BOOKING_SERVICE_DB_PASSWORD=
BOOKING_SERVICE_DB_HOST=
BOOKING_SERVICE_DB_PORT=
# ======================================= #

# === KEYCLOAK === #
KC_DB_USERNAME=
KC_DB_PASSWORD=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

KEYCLOAK_DB=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=
# ======================================= #